extends ./layout.jade

block append content 
    div.content
        div.Banner_C
            div.Banner
                image.loadingGIF(src="/images/ZZ5H.gif")
                    div.Starter_C
                        button.Starter_btn
                            a(href="/signup") Start Here
            div.Banner_index
                    div.index#show
                    div.index
                    div.index
        div.product_description_container
            div.description_text
                h1 What we Do
            div.product_icon_container
                div.chair_description.descriptions
                    h3 Sitting Chairs
                    i.fa.fa-chair(aria-hidden="true" class="des_icons")
                div.bed_description.descriptions
                    h3 Sleeping Beds
                    i.fa.fa-bed(aria-hidden="true" class="des_icons")
                div.table_description.descriptions
                    h3 Standing Tables
                    i.fa.fa-table(aria-hidden="true" class="des_icons")
        div.OurService_C
                div.OurService_text
                    p What we offer
                div.Services_C
                    div.Services
                        p We offer quality Furnitures for our customers.
                    div.Services
                        p On time delivery
                    div.Services
                        p We are available all Over nigeria 
                    div.Services
                        p We import International furnitures

        div.Top_products.products_Advert
            div.products_C
                div.products_des
                    h3.products_text Best Sofa Sets
                    p The Living room is where we spend long hours of the day watching television, reading a book or newspaper, relaxing, hosting guests, or enjoying coffee; it stands out as one of the most important and decorated living spaces
                div.products_images
                    img(src="/images/sirius-dekupe-koltuk-2.webp", alt="Sofa sets")
                
        div.Best_products.products_Advert
            div.products_C
                div.products_des
                    h3.products_text Perfect Dining Table Sets
                    p Our Dining room sets are a collection of a mirrored console, console, marquis, dining table, and chairs designed with colors that appeal, making your home stand out, and reflect the spirit of the home.
                div.products_images
                    img(src="/images/Sirius-Yemek-2-kopya-1.webp")
                