extends ./layout.jade

block append content

    div.products_layout_C
        div.loadingImage
            img(src="/images/ZZ5H.gif", alt="loadingGif")

    div.productLoadingBtn_C
            button.productLoadingBtn 
                img.productLoadingGif(src="/images/ZZ6H.gif" alt="")
                div.productLoading_text_C
                    p Loading Product 
                    
            